*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-align: center;
}

header {
    height: 10vh;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

main {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

section {
    margin-bottom: 200px;
    max-width: 600px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    color: #333;
}

article {
    width: 250px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    color: #333;
}

article h3 {
    background: rgb(43, 211, 43);
    width: 95%;
    border-radius: 50px;
    font-size: 1rem;
    padding: .5rem;
}

article a {
    color: #161616;
    font-weight: bold;
}

article a:hover {
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

footer a {
    color: #fff;
    text-decoration: none;
}

a {
    text-decoration: none;
}

@media screen and (min-width: 700px) {
    section {
        width: 600px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width: 1100px) {
    section {
        max-width: 1400px;
        width: 1000px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
    }

    article {
        width: 210px;
    }
}